extends layout

block content

    h1(class='center')=title

    form(class='display-column form-container')(method='POST')
        div.from-group
            label(for='model') Model: 
            input#model.form-control(type='text',
            placeholder='IEM Model' name='model' required value=(undefined===ranking ? '' : ranking.model) )
        div.from-group
            label(for='rank') Rank: 
            select#rank.form-control(name='rank')
                each val in ['S+', 'S', 'S-','A+', 'A', 'A-','B+', 'B', 'B-','C+', 'C', 'C-']
                    option(value= val)= val
        div.from-group
            label(for='value_rating') Value Rating:
            select#value_rating.form-control(name='value_rating')
                each val in ['★★★', '★★', '★']
                    option(value= val)= val
        div.from-group
            label(for='price') Price:
            input#model.form-control(type='text',
            placeholder='Price in USD' name='price' required value=(undefined===ranking ? '' : ranking.price) )
        div.from-group
            label(for='signature') Sound Signature: 
            select#signature.form-control(name='signature')
                each val in ['U-Shaped', 'V-Shaped', 'Mild V-Shape', 'Bright Neutral', 'Warm Neutral', 'Neutral with bass boost', 'Neutral', 'Variable']
                    option(value= val)= val
        div.from-group
            label(for='comments') Comments: 
            textarea#model.form-control(type='text', 
            placeholder='Comments' name='comments' rows='5' cols='53.5' required value=(undefined===ranking ? '' : ranking.comments) )
        div.from-group
            label(for='tone_grade') Tone Grade: 
            select#tone_grade.form-control(name='tone_grade')
                each val in ['S+', 'S', 'S-','A+', 'A', 'A-','B+', 'B', 'B-','C+', 'C', 'C-']
                    option(value= val)= val
        div.from-group
            label(for='technical_grade') Technical Grade: 
            select#technical_grade.form-control(name='technical_grade')
                each val in ['S+', 'S', 'S-','A+', 'A', 'A-','B+', 'B', 'B-','C+', 'C', 'C-']
                    option(value= val)= val
        div.from-group
            label(for='setup') Setup: 
            select#setup.form-control(name='setup')
                each val in ['Planar', '1PLANAR 2BA', 'DD', '2DD', '4BA 1DD', '3BA 1DD', '2BA 1DD', '1BA 2DD', '1BA 1DD', '2EST 6BA 1DD', '2EST 5BA 1DD', '2EST 4BA 1DD', '2EST 2BA 1DD', '8/10BA', '16BA', '8BA', '4BA', '3BA', '2BA', 'BA']
                    option(value= val)= val
        div(class='center').form-group
            button(class='form-submit-button').btn.btn-primary(type='submit') Submit

        if errors 
            ul
                for error in errors
                    li!= error.msg