extends layout

block content
  h1= title
  p Welcome to #{title}, a basic Express Website showcasing a IEM Ranking Data's

  p The ranking has the following records:

  ul 
    li #[strong IEMs:] !{numberRanking}

  table.table.table-striped
    thead
      tr
        th Rank
        th Value Rating
        th Model
        th Price
        th Signature
        th Comments
        th Tone Grade
        th Technical Grade
        th Setup
    tbody
      each array in iemranking_list
        each val, key in array
          tr
            td= val.rank
            td= val.value_rating
            td
              a(href=val.url) #{val.model}
            td= val.price
            td= val.signature
            td= val.comments
            td= val.tone_grade
            td= val.technical_grade
            td= val.setup