extends layout

block content
  h1= title
  p Welcome to #{title}, a basic Express Website showcasing a IEM Ranking Data's

  p The ranking has the following records:

  ul 
    li #[strong IEMs:] !{rank}

  table
    thead
      tr
        th Rank
        th Value Rating
        th Model
        th Price
        th Signature
        th Comments
        th Tone Grade
        th Technical Grade
        th Setup
    tbody
      tr
        td !{rank}
        td !{rank}
        td !{rank}
        td !{rank}
        td !{rank}
        td !{rank}
        td !{rank}
        td !{rank}
        td !{rank}